# Dataset & Images
data/
New Plant Diseases Dataset(Augmented)/
*.jfif
*.jpg
*.png

# Keep necessary result images for the README
!confusion_matrix.png
!training_curves.png

# Models (Uncomment the next line if best_model.h5 is larger than 100MB)
# *.h5
# *.keras

# Python & Jupyter Cache
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store

# Virtual Environments
venv/
env/
.env
